body {
	--cardoverlap: -13vh;
}

.button {
	background-color: red;
}

.card {
	transition: all linear 250ms;
}

.card img {
	height: 15vh;
	clip-path: inset(0 0 0 0 round 6%);
}

.card.tapped {
	transform: rotate(90deg);
	/* transform-origin: center left; */
}

.stats {
	position: relative;
	top: -3vh;
	left: 8vh;
	color: darkblue;
}

.preview {
	height: 30vh;
}

.mtg {
	display: flex;
	justify-content: space-between;
	gap: 1vh;
}

.players {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.player {
	height: 40%;
	border: 2px;
	border-style: solid;
}

.lifetotal {
	font-size: 5vh;
}

.graveyards {
	display: flex;
	flex-direction: column;
}

.graveyard {
	height: 50%;
}

.battlefields {
	width: 80%;
	display: flex;
	flex-direction: column;
	gap: 2vh;
}

.battlefield {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5vh;
}

.battlefield.opponent {
	flex-direction: column-reverse;
}

.lands {
	display: flex;
	flex-direction: row;
	gap: 3vh;
}

.permanents {
	display: flex;
	flex-direction: row;
	gap:1vh;
}

.stack {
	flex-direction: column;
}

.list {
	display: flex;
	flex-direction: column;
}

.list .card {
	margin-top: var(--cardoverlap);
	clip-path: xywh(0 0 100% 20%);
}

.list .card:first-child {
	margin-top: 0;
}

.list .card:last-child {
	clip-path: inset(0 0 0 0 round 6%);
}